/* ============================================================
   fonts.css — selbst gehostete Schriften, keine externen Requests.
   Beide Familien: SIL Open Font License 1.1.
   Erwartete Dateien in assets/fonts/ (variable woff2):
     SchibstedGrotesk-Variable.woff2        (wght 400–900)
     SourceSerif4-Variable.woff2            (wght 300–700, opsz)
   Kursive Schnitte werden synthetisch erzeugt; wer echte Kursive will,
   legt die *-VariableItalic.woff2 ab und ergänzt zwei @font-face-Regeln.
   Fehlen die Dateien, greift der System-Fallback aus tokens.css.
   ============================================================ */

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../fonts/SchibstedGrotesk-Variable.woff2") format("woff2-variations");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Serif 4";
  src: url("../fonts/SourceSerif4-Variable.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
